* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.logo {
  width: 150px;
  justify-self: center;
  margin-bottom: 60px;
}

.title {
  font-size: var(--lg);
  margin-bottom: 15px;
  text-align: center;
  color: rgb(17, 178, 114);
}

.subtitle {
  color: rgb(216, 216, 216);
  font-size: var(--md);
  font-weight: 300px;
  text-align: center;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 12px;
}

.input {
  border: none;
  background-color: rgba(207, 207, 207, 0.751);
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.primary-button {
  border: none;
  border-radius: 8px;
  background-color: rgb(17, 178, 114);
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 45px;
}

.primary-button:hover {
  background-color: rgb(17, 158, 101);
}
